# Data Frames

In [35]:
from my_functions import polarity_sentences, text_reader, remove_chapter_numbers, subjectivity_sentences, leng_sentences
import pandas as pd

In [36]:
IHC = text_reader("/Users/BaileyDanielson/Documents/Python/IHC.txt")

In [37]:
IHC_clean = remove_chapter_numbers(IHC)
clean_IHC = " ".join(IHC_clean)

Number of Sentences: 3481

In [38]:
overall, multiple_polarities = polarity_sentences(clean_IHC)

Overall Polarity: -0.25, Polarities (first 10): [0.0, 0.13636363636363635, -0.225, 0.0, -0.11507936507936507, 0.5, 0.012500000000000011, 0.0, 0.11249999999999999]

In [39]:
overall, multiple_subjectivities = subjectivity_sentences(clean_IHC)

Overall Subjectiveness: 0.5, Subjectivities (first 10): [0.0, 0.45454545454545453, 0.5, 1.0, 0.2396825396825397, 0.5, 0.625, 0.0, 0.775]

In [40]:
df = pd.DataFrame({'polarity': multiple_polarities, 'subjectivity': multiple_subjectivities})

In [41]:
df.head(20)

    polarity  subjectivity
0   0.000000      0.000000
1   0.136364      0.454545
2  -0.225000      0.500000
3   0.000000      1.000000
4  -0.115079      0.239683
5   0.500000      0.500000
6   0.012500      0.625000
7   0.000000      0.000000
8   0.112500      0.775000
9  -0.116667      0.208333
10 -0.054545      0.351515
11  0.000000      0.000000
12  0.136364      0.454545
13 -0.071212      0.618182
14 -0.166667      0.433333
15  0.122222      0.333333
16  0.000000      0.000000
17  0.000000      0.000000
18  0.100000      0.350000
19  0.000000      0.000000

In [42]:
df.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/IHC_sentiments.csv")

In [43]:
s_leng, s_index = leng_sentences(clean_IHC)

New Variables: sentence length list: 3493, sentence index list: 3493

In [44]:
df2 = pd.DataFrame({'Length_of_Sentences': s_leng})
df2.head(20)

    Length_of_Sentences
0                     8
1                     8
2                    25
3                    13
4                    24
5                    15
6                    32
7                    15
8                    16
9                    20
10                   14
11                    4
12                    3
13                   15
14                   13
15                   13
16                    6
17                    6
18                   16
19                    4

In [45]:
df2.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/IHC_sentence_lengths.csv")