In [28]:
from my_functions import text_reader , leng_sentences , polarity_sentences , subjectivity_sentences
import pandas as pd

In [29]:
def split_text(text , split_keyword):

    #funtion
    text_sections = text.split(split_keyword)
    
    print("Number of Sections:" , len(text_sections))
    return text_sections

In [30]:
Shadow_Lines = text_reader("/Users/BaileyDanielson/Documents/Python/Shadow_Lines.txt")

In [31]:
sections_SL = Shadow_Lines.split("Coming Home")

In [32]:
print(len(sections_SL))

2

In [33]:
sl_sections = split_text(Shadow_Lines, "Coming Home")

Number of Sections: 2

In [34]:
sl_lengths, sl_index = leng_sentences(Shadow_Lines)

New Variables: sentence length list: 5967, sentence index list: 5967

In [35]:
sl_pol, sl_sent_pols = polarity_sentences(Shadow_Lines)

Overall Polarity: 0.175, Polarities (first 10): [0.0, 0.1, 0.05, -0.371875, 0.0, -0.05000000000000001, 0.0, 0.3333333333333333, 0.005208333333333329]

In [43]:
sl_sub, sl_sent_subs = subjectivity_sentences(Shadow_Lines)

Overall Subjectiveness: 0.7416666666666666, Subjectivities (first 10): [0.0, 0.75, 0.5, 0.575, 0.75, 0.4125, 0.0, 0.38888888888888884, 0.27604166666666663]

In [37]:
pol_sect_one, pol_sect_one_sents = polarity_sentences(sl_sections[0])

Overall Polarity: 0.0, Polarities (first 10): [0.0, 0.1, 0.05, -0.371875, 0.0, -0.05000000000000001, 0.0, 0.3333333333333333, 0.005208333333333329]

In [38]:
pol_sect_two, pol_sect_two_sents = polarity_sentences(sl_sections[1])

Overall Polarity: 0.175, Polarities (first 10): [0.0, 0.16, 0.125, -0.3499999999999999, 0.2125, 0.0, 0.05, 0.1, -0.05]

In [39]:
sub_sect_one, sub_sect_one_sents = subjectivity_sentences(sl_sections[0])

Overall Subjectiveness: 0.05, Subjectivities (first 10): [0.0, 0.75, 0.5, 0.575, 0.75, 0.4125, 0.0, 0.38888888888888884, 0.27604166666666663]

In [40]:
sub_sect_two, sub_sect_two_sents = subjectivity_sentences(sl_sections[1])

Overall Subjectiveness: 0.7416666666666666, Subjectivities (first 10): [0.0, 0.5399999999999999, 0.6666666666666666, 0.3833333333333333, 0.36250000000000004, 0.06666666666666667, 0.2, 0.2, 0.15000000000000002]

In [44]:
sl_df = pd.DataFrame({'polarity': sl_sent_pols, 'subjectivity': sl_sent_subs})
sl_df.head(20)

    polarity  subjectivity
0   0.000000      0.000000
1   0.100000      0.750000
2   0.050000      0.500000
3  -0.371875      0.575000
4   0.000000      0.750000
5  -0.050000      0.412500
6   0.000000      0.000000
7   0.333333      0.388889
8   0.005208      0.276042
9   0.129167      0.356944
10  0.000000      0.000000
11  0.433333      0.650000
12 -0.100000      0.500000
13  0.000000      0.000000
14  0.000000      0.100000
15 -0.129167      0.500000
16 -0.333333      0.666667
17  0.000000      0.000000
18 -0.200000      0.000000
19 -0.150000      0.400000

In [45]:
sl_df.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/ShadowLines_sentiments.csv")

In [47]:
sl_df2 = pd.DataFrame({'polarity of section 1': pol_sect_one_sents, 'subjectivity of section 1': sub_sect_one_sents})
sl_df2.head(20)

    polarity of section 1  subjectivity of section 1
0                0.000000                   0.000000
1                0.100000                   0.750000
2                0.050000                   0.500000
3               -0.371875                   0.575000
4                0.000000                   0.750000
5               -0.050000                   0.412500
6                0.000000                   0.000000
7                0.333333                   0.388889
8                0.005208                   0.276042
9                0.129167                   0.356944
10               0.000000                   0.000000
11               0.433333                   0.650000
12              -0.100000                   0.500000
13               0.000000                   0.000000
14               0.000000                   0.100000
15              -0.129167                   0.500000
16              -0.333333                   0.666667
17               0.000000                   0.000000
18              -0.200000                   0.000000
19              -0.150000                   0.400000

In [48]:
sl_df3 = pd.DataFrame({'polarity of section 2': pol_sect_two_sents, 'subjectivity of section 2': sub_sect_two_sents})
sl_df3.head(20)

    polarity of section 2  subjectivity of section 2
0                0.000000                   0.000000
1                0.160000                   0.540000
2                0.125000                   0.666667
3               -0.350000                   0.383333
4                0.212500                   0.362500
5                0.000000                   0.066667
6                0.050000                   0.200000
7                0.100000                   0.200000
8               -0.050000                   0.150000
9                0.000000                   0.066667
10               0.550000                   0.700000
11               0.000000                   0.000000
12               0.500000                   0.500000
13               0.083333                   0.166667
14               0.214286                   0.428571
15               0.000000                   0.100000
16               0.233333                   0.566667
17               0.200000                   0.300000
18               0.371429                   0.607143
19               0.000000                   0.000000

In [50]:
sl_df2.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/ShadowLines_sentiments_sect1.csv")
sl_df3.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/ShadowLines_sentiments_sect2.csv")

In [51]:
sl_df4 = pd.DataFrame({'Length of Sentence': sl_lengths})
sl_df4.head(20)

    Length of Sentence
0                   29
1                   40
2                   45
3                   17
4                   12
5                   53
6                   10
7                   47
8                   42
9                   38
10                  19
11                  13
12                  23
13                   6
14                  26
15                  31
16                  23
17                  14
18                   9
19                  17

In [52]:
sl_df4.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/ShadowLines_sentences.csv")