In [80]:
import pandas as pd
import re
from nltk.corpus import stopwords

In [71]:
full_df = pd.read_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/final_df.csv")

In [72]:
full_df.head()

,Sentence,Section,Book_Title,Author,Index,Polarity,Subjectivity,Word_Count
0,Coetzee In the Heart of the Country.,0,In the Heart of the Country,J.M. Coetzee,0,0.000000,0.000000,7
1,Today my father brought home his new bride.,1,In the Heart of the Country,J.M. Coetzee,1,0.136364,0.454545,8
2,They came clip-clop across the flats in a dog...,1,In the Heart of the Country,J.M. Coetzee,2,-0.225000,0.500000,25
3,Or perhaps they were drawn by two plumed donk...,1,In the Heart of the Country,J.M. Coetzee,3,0.000000,1.000000,13
4,My father wore his black swallowtail coat and...,1,In the Heart of the Country,J.M. Coetzee,4,-0.115079,0.239683,24

In [73]:
word_list = []
index_list = []
book_list = []

In [74]:
stopwords = set(stopwords.words('english'))
stopwords.update(["said", "say" , "come", "one" , "tell" , "must", "would", "could"])

In [75]:
for index, row in full_df.iterrows():
    for word in row.Sentence.split():
        new_word = word.lower()
        if new_word not in stopwords:
            clean_word = re.sub(r'[^a-z ]+', '', new_word)
            word_list.append(clean_word)
            index_list.append(row.Index)
            book_list.append(row.Book_Title)

In [76]:
print(len(word_list), len(index_list), len(book_list))

77840 77840 77840

In [77]:
words_df = pd.DataFrame(
    {'Word_List': word_list,
     'Index_List': index_list,
     'Book_List': book_list
    })

In [78]:
words_df.head(20)

       Word_List  Index_List                    Book_List
0        coetzee           0  In the Heart of the Country
1          heart           0  In the Heart of the Country
2        country           0  In the Heart of the Country
3          today           1  In the Heart of the Country
4         father           1  In the Heart of the Country
5        brought           1  In the Heart of the Country
6           home           1  In the Heart of the Country
7            new           1  In the Heart of the Country
8          bride           1  In the Heart of the Country
9           came           2  In the Heart of the Country
10      clipclop           2  In the Heart of the Country
11        across           2  In the Heart of the Country
12         flats           2  In the Heart of the Country
13       dogcart           2  In the Heart of the Country
14         drawn           2  In the Heart of the Country
15         horse           2  In the Heart of the Country
16  ostrichplume           2  In the Heart of the Country
17        waving           2  In the Heart of the Country
18      forehead           2  In the Heart of the Country
19         dusty           2  In the Heart of the Country

In [79]:
words_df.to_csv("/Users/BaileyDanielson/Documents/Python/NLP_Practice/words_df.csv", index = False)